{% extends "base.html" %}
{% block data %}
<h2>{{ attack['name'] }}</h2>
<p>{{ attack['description'] }}</p>

<h3>Notes</h3>
<form method='POST' action="/attack/{{ attack['id'] }}">
	<textarea name="note">{{ attack['note'] }}</textarea><br />
	<input type="submit" value="Update Notes" />
</form>

<h3>Hosts</h3>
{% if not hosts %}
	<p>No hosts are vulnerable to this attack.</p>
{% else %}
	<ul class="column4">
	{% for host in hosts %}
		<li><a href="/host/{{ host['ip'] }}">{{ host['ip'] }}</a></li>
	{% endfor %}
	</ul>
{% endif %}

{% endblock %}