{% extends "base.html" %}
{% block data %}

<h2>Possible Attacks</h2>

{% if not attacks %}
    <p>No attacks have been added yet, please check the server logs.</p>
{% else %}
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    {% for a in attacks %}
        <tr>
            <td><a href="attack/{{ a['id'] }}">{{ a['name'] }}</a></td>
            <td>{{ a['description'] }}</td>
        </tr>
    {% endfor %}

    </table>
{% endif %}

{% endblock %}