{% extends "base.html" %}
{% block data %}

<h2>{{ name }}</h2>
<p>
<a href="/project/{{ pid }}">Project Summary</a> |
<a href="/project/{{ pid }}/hosts">Imported Hosts</a> |
<a href="/project/{{ pid }}/attack/notes">Attack Notes</a> | 
<a href="/project/{{ pid }}/host/notes">Host Notes</a> | 
<a href="/project/{{ pid }}/import">Import Data</a>
</p>

<section class="notes">
<h4>Notes</h4>
<form method='POST' action="/project/{{ pid }}/attack/{{ attack['id'] }}">
	<textarea name="note">{{ attack['note'] }}</textarea><br />
	<input type="submit" value="Update Notes" />
</form>
</section>

<section class="details">
<h3>{{ attack['name'] }}</h3>
<p>{{ attack['description'] }}</p>

<section class="scroll">
<h4 onclick="toggle('affected')">Affected Hosts</h4>
<section id="affected" style="display: none;">
<p>View item details for each affected host.</p>
<ul class="column2">
{% for item in items %}
    <li>
    {% if item[0] == '' %}
        {{ item[1] }}:{{ item[2] }}
    {% else %}
        <a href="/project/{{ pid }}/item/{{ item[0] }}">{{ item[1] }}:{{ item[2] }}</a>
    {% endif %}

    {% if attack['name'] == "Web Server Detection" %}
        {% if '443' in item[2] %}
            <a href="https://{{ item[1] }}:{{ item[2] }}" class="extlink">View</a>
        {% else %}
            <a href="http://{{ item [1] }}:{{ item[2] }}" class="extlink">View</a>
        {% endif %}
    {% endif %}
    </li>
{% endfor %}
</ul>
</section> <!-- End toggle -->

<h4 onclick="toggle('raw')">Raw Host List</h4>
<section id="raw" style="display: none;">
<p>A list of affected hosts suitable for use with command line tools.</p>
<ul>
{% for item in items %}
    <li>{{ item[1] }} {{ item[2] }}</li>
{% endfor %}
</ul>
</section> <!-- End toggle -->
</section> <!-- End scroll -->
</section> <!-- End details -->
{% endblock %}
