{% extends "base.html" %}
{% block data %}
<a href="/project/{{ pid }}">Return to project page.</a>
<h2>{{ attack['name'] }}</h2>
<p>{{ attack['description'] }}</p>

<h3>Notes</h3>
<form method='POST' action="/project/{{ pid }}/attack/{{ attack['id'] }}">
	<textarea name="note">{{ attack['note'] }}</textarea><br />
	<input type="submit" value="Update Notes" />
</form>

<h3>Hosts</h3>
<ul class="column4">
{% for item in items %}
    <li>
    {% if item[0] == '' %}
        {{ item[1] }}:{{ item[2] }}
    {% else %}
        <a href="/project/{{ pid }}/item/{{ item[0] }}">{{ item[1] }}:{{ item[2] }}</a>
    {% endif %}

    {% if attack['name'] == "Web Server Detection" %}
        {% if '443' in item[2] %}
            <a href="https://{{ item[1] }}:{{ item[2] }}" class="extlink">View</a>
        {% else %}
            <a href="http://{{ item [1] }}:{{ item[2] }}" class="extlink">View</a>
        {% endif %}
    {% endif %}
    </li>
{% endfor %}
</ul>

{% endblock %}
