{% extends "base.html" %}
{% block data %}
<script type="text/javascript">
    function toggle(id) 
    {
        var e = document.getElementById(id);
        if ( e.style.display == 'block' )
            e.style.display = 'none';
        else
            e.style.display = 'block';
    }
</script>

<a href="/project/{{ pid }}">Return to project page.</a>

<h2>{{ host }}</h2>

<h3>Notes</h3>
<form method='POST' action="/project/{{ pid }}/host/{{ host }}">
    <textarea name="note">{{ note }}</textarea><br />
    <input type="submit" value="Update Notes" />
</form>


{% if details != {} %}
    <h3>Host Details</h3>
    <p>Click on each port heading to see the associated data.</p>
    {% for k in keys %}
	<h4 onclick="toggle('{{ k }}')">{{ k }}</h4>
        <section class="note" id="{{ k }}" style="display: none;">
        {% for n in details[k] %}
            <pre>{{ n }}</pre>
        {% endfor %}
        </section>
    {% endfor %}
{% endif %}
{% endblock %}
