{% extends "base.html" %}
{% block data %}

<h2>{{ name }}</h2>
<p>
<a href="/project/{{ pid }}">Project Summary</a> |
<a href="/project/{{ pid }}/hosts">Imported Hosts</a> |
<a href="/project/{{ pid }}/attack/notes">Attack Notes</a> | 
<a href="/project/{{ pid }}/host/notes">Host Notes</a> | 
<a href="/project/{{ pid }}/import">Import Data</a>
</p>

<section class="notes">
<h4>Notes</h4>
<form method='POST' action="/project/{{ pid }}/host/{{ host }}">
    <textarea name="note">{{ note }}</textarea><br />
    <input type="submit" value="Update Notes" />
</form>
</section>

{% if details != {} %}
    <section class="details">

    <h3>{{ host }}</h3>
    <p>Click on each port heading to see the associated data.</p>

    <section class="scroll">
    {% for k in keys %}
	<h4 onclick="toggle('{{ k }}')">{{ k }}</h4>
        <section class="note" id="{{ k }}" style="display: none;">
        {% for n in details[k] %}
            <pre>{{ n }}</pre>
        {% endfor %}
        </section>
    {% endfor %}
    </section> <!-- End scroll -->
    </section> <!-- End details -->
{% endif %}
{% endblock %}
