{% extends "base.html" %}
{% block data %}

<h2>{{ name }}</h2>
<p>
<a href="/project/{{ pid }}">Project Summary</a> |
<a href="/project/{{ pid }}/hosts">Imported Hosts</a> |
<a href="/project/{{ pid }}/attack/notes">Attack Notes</a> | 
<a href="/project/{{ pid }}/host/notes">Host Notes</a> | 
<a href="/project/{{ pid }}/import">Import Data</a>
</p>

<h3>Import Scan Data</h3>
<form action="/project/{{ pid }}/import" method="post" enctype="multipart/form-data">
  <input type="file" name="scans[]" multiple placeholder="Enter Nessus or Nmap files."><br />
  <input type="submit" value="Import">
</form>

<h3>Imported Files</h3>
<ul>
    {% for file in files %}
        <li>{{ file }}</li>
    {% endfor %}
</ul>

{% endblock %}
