{% extends "base.html" %}
{% block data %}

<h2>{{ name }}</h2>
<p>
<a href="/project/{{ pid }}">Project Summary</a> |
<a href="/project/{{ pid }}/hosts">Imported Hosts</a> |
<a href="/project/{{ pid }}/attack/notes">Attack Notes</a> | 
<a href="/project/{{ pid }}/host/notes">Host Notes</a> | 
<a href="/project/{{ pid }}/import">Import Data</a>
</p>

{% for note in notes %}
    {% if note[1] != "" and note[1] != None %}
        <h3><a href="/project/{{ pid }}/host/{{ note[0] }}">{{ note[0] }}</a></h3>
        <pre>{{ note[1] }}</pre>
    {% endif %}
{% endfor %}
{% endblock %}
