{% extends "base.html" %}
{% block data %}

<h2>{{ project }}</h2>

<h3>Possible Attacks</h3>
{% if not attacks %}
    <p>No attacks are available yet.</p>
{% else %}
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    {% for a in attacks %}
        <tr>
            <td><a href="/project/{{ pid }}/attack/{{ a['id'] }}">{{ a['name'] }}</a></td>
            <td>{{ a['description'] }}</td>
        </tr>
    {% endfor %}

    </table>
{% endif %}

<h3>Imported Hosts</h3>
{% if not hosts %}
	<p>No hosts have been import yet, please import a Nessus or Nmap XML file.</p>
{% else %}
	<table>
        <tr>
            <th>Host</th>
            <th>Ports</th>
        </tr>
        {% for h in hosts %}
            <tr>
                <td><a href="/project/{{ pid }}/host/{{ h['ip'] }}">{{ h['ip'] }}</a></td>
                <td>{{ ', '.join(ports[h['ip']]) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}
