{% extends "base.html" %}
{% block data %}

<h2>Projects</h2>
<h3>Create New Project</h3>
<form action="/projects" method="post">
    <input type="text" name="project_name" value="Project Name"/>
    <input type="submit" value="Create Project" />
</form>

<h3>Current Projects</h3>
{% if not projects %}
	<p>No projects have been created yet.</p>
{% else %}
    <table>
        <tr>
            <th>Project</th>
            <th>Stats</th>
            <th>Actions</th>
        </tr>
        {% for p in projects %}
            <tr>
                <td><a href="/project/{{ p['id'] }}">{{ p['name'] }}</a></td>
                <td>{{ stats[p['id']] }}</td>
                <td>
                    <a href="/notes">View Notes</a>
                    <a href="/project/{{ p['id'] }}/delete">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

</div>
{% endblock %}
