{% extends "base.html" %}
{% block data %}

<h2>{{ name }}</h2>
<p>
<a href="/project/{{ pid }}">Project Summary</a> |
<a href="/project/{{ pid }}/hosts">Imported Hosts</a> |
<a href="/project/{{ pid }}/attack/notes">Attack Notes</a> | 
<a href="/project/{{ pid }}/host/notes">Host Notes</a> | 
<a href="/project/{{ pid }}/import">Import Data</a>
</p>

<section class="notes">
<h3>Notes</h3>
<form method='POST' action="/project/{{ pid }}/notes">
    <textarea name="note">{{ note }}</textarea><br />
    <input type="submit" value="Update Notes" />
</form>
</section>

<section class="details">
<h3>Potential Attack Vectors</h3>
<p>The following potential attack vectors were identified. Click on the name of the attack vector for additional details</p>

<section class="scroll">
{% if not attacks %}
    <p>No attacks are available yet.</p>
{% else %}
    {% for a in attacks %}
        <ul>
            <li><a href="/project/{{ pid }}/attack/{{ a['id'] }}">{{ a['name'] }}</a> {{ a['description'] }}</li>
        </ul>
    {% endfor %}

    </table>
{% endif %}
</section> <!-- End scroll -->
</section> <!-- End details -->
{% endblock %}
